* {
    margin:0;
    padding: 0;
}

.background {
    width: 100%;
    height: 100vh;
    background-image:url(images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    height: 15%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.logo {
    padding-top: 3rem;
    padding-bottom: 4rem;
    width: 70%;
    height:10% ;
    align-items: center;
    padding-left: 250px;
    margin-left: 30px;
}


.navbar {
    text-align:justify;
    
}

.navbar a{
    padding: 5px 20px;
    text-decoration: none;
    color: rgba(204, 130, 233, 0.89);
    margin-left: 35px;
    font-size: 18px;
    font-weight: bold;
}

.btn {
    cursor: pointer;
    color: #0e0d0d;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 25px 30px;
    border:2px solid #003333;
    text-decoration: none;
    margin: 20px 20px;
    font-weight: bold;
    margin-top: 90px;
}

.btn:hover{
    color: #000;
    background-color: #fff;
}

.button:hover{
    color: #000;
    background-color: #fff;
}

.button {
    cursor: pointer;
    color: #0e0d0d;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 11px 20px;
    margin-left: 2px;
    border:2px solid #003333;
    background: transparent;
    text-decoration: none;
    font-weight: bold;
 
}

.content {
    text-align: center;
    margin-top: 10%;
   
}

.content h1 {
    font-size: 70px;
    font-style: italic;
    color: rgb(35, 247, 7);
     padding-top: 20px;
    margin-bottom: 30px;
    text-decoration:wavy;
}